p.error {
    color: #fa5252;
    font-size: 13px;
    margin-top: 10px;
    text-align: center;
}

@keyframes backgroundChangeColor {
    0% {
        background-color: #FFF;
    }


    50% {
        background-color: #238be6;
    }


    100% {
        background-color: #FFF;
    }
}

div.mantine-d3zxqq {
    animation: backgroundChangeColor 20s ease-in-out infinite;
}