.auth-container {
    background-color: grey;
    height: 100vh;
    width: 100%;
    padding: 20px;

    .card-container {
        height: 50vh;
        background-color: white;
        width: 40%;
        border-radius: 40px;
        padding: 40px 100px;
    }

    h1.page-title {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 30px;
    }

    .form-container {
        gap: 20px;
    }

    button.auth-btn {
        padding: 10px 40px;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        background-color: rgb(134, 134, 243);
        cursor: pointer;
    }

    p.error {
        color: red;
        font-size: 12px;
        display: block;

        &-none {
            display: none;
            font-size: 12px;
        }
    }
}